nav {
	background-color: #ecf0f1;
	height: 60px;
	position: fixed;
	width: 100%;
}

ul li {
	display: inline-block;
	padding: 10px;
}

ul {
	list-style-type: none;
}

header a, a:active {
	color:#1abc9c;
	list-style-type: none;
	text-decoration: none;
}

header a:hover{
	color:#e67e22;
}

p {
	text-align: justify;
}
#home, #aboutme, #contact {
	text-align: center;
	padding-top: 100px;
	margin-left: 200px;
	margin-right: 200px;
}

#aboutme img {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fa-twitter, .fa-github {
	font-size: 45px;
	color:#ecf0f1;
}
