nav {
	height: 60px;
	width: 100%;
	background-color: #BDD5EA;
	display: flex;
	justify-content: flex-end;
	position: fixed;
}

ul li {
	display: inline-block;
	padding: 10px;
}

ul {
	padding-right: 25px;
	list-style-type: none;
}

header a, a:active {
	color: #577399;
	list-style-type: none;
	text-decoration: none;
}

header a:hover{
	color:#FE5F55;
}

p {
	text-align: justify;
}

#home {
	background-color: #F7F7FF;
	color: #577399;
}

#aboutme {
	background-color: #BDD5EA;
	color: #577399;
}

#contact {
	color: #F7F7FF;
	background-color: #495867;
}
#contact a, a:active {
	color: #BDD5EA;
}
#contact a:hover {
	color: #F7F7FF;
}

#home, #aboutme, #contact {
	text-align: center;
	padding: 100px 200px;
}

#aboutme img {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.fa-twitter, .fa-github {
	font-size: 45px;
}
