nav {
	height: 60px;
    width: 100%;
    background-color: #BF5476;
    position: fixed;
    z-index: 9999;
}

ul li {
	padding: 10px;
}

ul {
	display: flex;
	list-style-type: none;
	justify-content: flex-end;
	padding-right: 25px;
}


nav a, a:active {
	color: #F7F7FF;
	list-style-type: none;
	text-decoration: none;
	transition: color 1s;
}

nav a:hover{
	color:#3E456C;
}
h1 {
	font-size: 45px;
}
p {
  	font-family: 'Muli', sans-serif;
	text-align: justify;
	padding-right: 75px;
	padding-left: 75px;
}

footer {
	padding: 10px;
}
small {
	text-align: right;
}

.img-circle {
	border-radius: 50%;
	height: 150px;
	margin: 15px;
}

.container div {	  
	display: inline-flex;
	justify-content: center;
}

#home, #portfolio {
	background-color: #F7F7FF;
	color: #3E456C;
}

#aboutme {
	background-color: #BDD5EA;
	color: #3E456C;
}

#portfolio .container div img{
	height: 200px;
	transition: all 1s ease-in-out
}
#portfolio .container div img:hover {
	transform: scale(2, 2);
	border: solid #95a5a6 1px;
}
#contact {
	color: #F7F7FF;
	background-color: #3E456C;
	text-align: center;
}
#contact a, a:active {
	text-decoration: none;
	color: #BDD5EA;
	transition: color 1s;
}
#contact a:hover {
	color: #BF5476;
}

#home, #aboutme, #portfolio, #contact {
	text-align: center;
	flex-grow: initial;
	padding-top: 100px;
	padding-bottom: 125px;
}

.fa-twitter, .fa-github {
	font-size: 72px;
}

